@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
}

.page-content {
  width: 100%;
  margin: 0 auto;
  background-image: -moz-linear-gradient(115deg, #0972e7 20%, #64ff71 100%);
  background-image: -webkit-linear-gradient(115deg, #0972e7 20%, #64ff71 100%);
  background-image: -ms-linear-gradient(115deg, #0972e7 20%, #64ff71 100%);
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}

.form-content {
  background: #fff;
  width: 850px;
  height: 550px;
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin: 8% auto;
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  position: relative;
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box;
}

.form-left {
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 425px;
  background: url("https://imgur.com/0mRE7j2.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 8px 0 0 8px;
}

.form-right {
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 30px 40px;
  position: relative;
  width: 425px;
}

h1 {
  color: #333;
  font-size: 32px;
  text-align: center;
  position: relative;
  padding: 2px 0 0;
  margin-bottom: 47px;
}

.form-row {
  width: 100%;
}

.form-row-last {
  text-align: center;
}

.input-text {
  margin-bottom: 35px;
}

.form-content .form-right input {	
  box-sizing: border-box;
  width: 98%;
  padding: 0px 15px 10px 15px;
  border: 2px solid transparent;
  border-bottom: 2px solid #cfcfcf;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  -o-appearance: unset;
  -ms-appearance: unset;
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -ms-outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #333;
}

.form-content .form-right .form-row input:focus {
  border-bottom: 2px solid #0972e7;
  color: #0972e7;
  transition: 0.2s ease;
}

.form-content .form-right .form-row-last input {
  padding: 13px;
}

.material-icons.md-24 {
	font-size: 130%; 
}
  
.visibility {
	position: absolute;
	top: 290px;
	right: 50px;
	color: #b3b3b3;
	cursor: default;
}
  
.visibility2 {
	position: absolute;
	top: 360px;
	right: 50px;
	color: #b3b3b3;
	cursor: default;
}

button {
  margin-bottom: 20%;
}

.custom-btn {
  width: 160px;
  height: 50px;
  color: #fff;
  border-radius: 6px;
  padding: 10px 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  transition: 0.1s ease;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: none;
  background: #0b55aa;
  background: linear-gradient(0deg, #0b55aa 0%, #0972e7 100%);
  /* color: #fff; */
  overflow: hidden;
  box-shadow: inset 2px 2px 2px 0px #ffffff80, 7px 7px 20px 0px #0000001a,
    4px 4px 5px 0px #0000001a;
  outline: none;
}

.custom-btn:hover {
  text-decoration: none;
  color: #fff;
}

.custom-btn:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #64ff71;
  animation: shiny-btn1 5s ease-in-out infinite;
}

.custom-btn:hover {
  opacity: 0.8;
}

.custom-btn:active {
  box-shadow: 4px 4px 6px 0 #ffffff4d, -4px -4px 6px 0 #747d8833,
    inset -4px -4px 6px 0 #ffffff33, inset 4px 4px 6px 0 #00000033;
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #666;
  font-size: 16px;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #666;
  font-size: 16px;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #666;
  font-size: 16px;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #666;
  font-size: 16px;
}
